.main-content {
    margin-bottom: 50px;
}

.movie {
    &-title {
        width: inherit;
        color: #fff;
        font-size: 20px;
    }
    
    &-type {
        text-align: center;
        margin: 50px auto 25px;
        font-size: 23px;
    }

    &-page {
        text-align: center;
        margin: 0 auto 50px;
    }
}